.footer {

    padding: auto;
   
    position:relative;
    background-color: #EE4E34;
    height: 300px;
    width: 100%;
    color: #fff;
  }
  .content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }